/*.carousel-item {
  position: relative;
}
.carousel-caption {
  background-color: rgba(26, 28, 146, 0.506);
}*/
.movie-vote {
  background: #272532;
  color: orange;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
} 
.movie-stars i {
  color: orange;
}
/*
.movie-stars i:hover {
  filter: drop-shadow(0 0 5px gold);
}
*/
/*CSS PARA EL CONTENEDOR NUEVO*/

.carousel-content {
  display: flex;
  height: 100%;
}

.carousel-information {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.372);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 100%;
}

.carousel-information p {
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
}

.title-pointer{
  cursor: pointer;
}

.carousel-item {
  display: flex;
  align-items: stretch;
  height: 95%;
}
.container-time-date {
  display: flex;
  gap: 400px;
}
.time-container, .calendar-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.time-container h6, .calendar-container h6 {
  margin: 0;
}

.description-container {
  width: 100%; 
  max-width: 600px;
  height: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.parrafo{
  padding: 15px;
  text-align: justify;
}

.carousel-control-next {
  transform: translateX(100%); /* Centra verticalmente el botón */
}
.carousel-control-prev {
  transform: translateX(-100%); /* Centra verticalmente el botón */
}
.carousel-indicators{
  transform: translateY(150%);
}

#carouselIndicators{
  max-width: 55%;
  margin: 0 auto;
}