.navbar {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #73879C;
  padding: 0 20px;
  box-sizing: border-box;
}

.custom-modal .modal-content {
  background: transparent;
  border: none;
  box-shadow: none;
}